# WEB SCRAPING--ASSIGNMENT 2

QUESTION 1

In [15]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time             # importing useful libraries

In [16]:
driver=webdriver.Chrome("http://www.naukri.com")   # 1. Calling driver to get webpage using driver

In [17]:
driver.get("http://www.naukri.com")     # got the webpage

In [18]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Analyst')

In [19]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [15]:
companies=driver.find_element(By.CLASS_NAME,'suggestor-input')
companies.send_keys()

In [20]:
search=driver.find_element(By.CLASS_NAME, 'qsbSubmit')
search.click()                    #3. Search Button

In [31]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [32]:
#scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in  location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#scraping Company name from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in  company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#scraping experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in  experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [33]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [24]:
df=pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df           # created dataframe of the scraped data.

,job_title,job_location,company_name,experience_required
0,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
1,Data Analyst,Temp. WFH - Bangalore/Bengaluru,Treebo Hotels,1-5 Yrs
2,Executive - Data Analyst,Bangalore/Bengaluru,Flipkart,1-5 Yrs
3,Data Analyst,Bangalore/Bengaluru,ANZ,1-4 Yrs
4,Data Analyst,Bangalore/Bengaluru,ANZ,1-5 Yrs
5,Senior Data Analyst | Neiman Marcus Group,Bangalore/Bengaluru,Talent500,6-11 Yrs
6,Senior Data Analyst,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Yallas Technology Solutions Opc,2-7 Yrs
7,Customer Master Data Analyst (SAP SD/MM),Bangalore/Bengaluru,Cyient,2-5 Yrs
8,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
9,Senior Analyst - Data Management,Bangalore/Bengaluru,Accenture,5-8 Yrs

QUESTION 2

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [73]:
driver=webdriver.Chrome('http://www.naukri.com/')

In [74]:
driver.get("http://www.naukri.com")

In [75]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('Data Scientist')

In [76]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [77]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [80]:
job_title=[]
job_location=[]
company_name=[]

In [81]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    title_tags.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')    
for i in location_tags[0:10]:
    location=i.text
    location_tags.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')    
for i in company_tags[0:10]:
    company=i.text
    company_tags.append(company)

In [82]:
print(len(title_tag),len(location_tags),len(company_tags))

6 30 30

In [83]:
df1=pd.DataFrame({'title_tags':title_tags,'location_tags':location_tags,'company_tags':company_tags})
df1

,title_tags,location_tags,company_tags
0,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
1,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
2,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
3,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
4,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
5,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
6,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
7,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
8,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
9,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
10,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
11,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
12,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
13,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
14,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
15,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
16,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
17,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
18,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
19,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...,<selenium.webdriver.remote.webelement.WebEleme...
20,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
21,Data Scientist,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Tata Nexarc
22,Data Scientist,"Bangalore/Bengaluru, Nagpur, Pune",Tech Mahindra
23,Data Scientist / AI-ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.
24,Manager-Data Science,Bangalore/Bengaluru,AMERICAN EXPRESS
25,ACN - Applied Intelligence - Data Scientist - 09,Bangalore/Bengaluru,Accenture
26,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Kolkata, ...",Mindtree
27,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
28,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes
29,Data Science - Engineering Manager,"Bangalore/Bengaluru, New Delhi",Paytm

# QUESTION 3

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome('http://www.naukri.com/')  #Q.3.1

In [3]:
driver.get('http://www.naukri.com')

In [5]:
designation=driver.find_element(By.CLASS_NAME,'suggestor-input ')
designation.send_keys('Data Scientist')      #Q.3.2

In [8]:
location=driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
location.send_keys('Bangalore')

In [9]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()    #Q.3.3

In [23]:
driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[13]/div[2]/div[1]/label/i').click();
#Q3.4      (took the help from google)

In [24]:
driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[1]/label/i').click();

In [84]:
job_title=[]
job_location=[]
salary=[]

In [85]:
title_tag=driver.find_elements(By.XPATH,'//i[@class="fleft naukicon naukicon-checked"]')
for i in title_tag[0:10]:
    title=i.text
    title_tag.append(title)

location_tag=driver.find_elements(By.XPATH,'//I[@class="fleft naukicon naukicon-checked"]')
for i in location_tag[0:10]:
    location=i.text
    location_tag.append(location)
    
salary_tag=driver.find_elements(By.XPATH,'//span[@class="fw500"]')    
for i in salary_tag[0:10]:
    salary=i.text
    salary_tag.append(salary)

In [87]:
print(len(job_title),len(job_location),len(salary))

0 0 10

In [88]:
df2=pd.DataFrame({'title_tag':title_tag,'location_tag':location_tag,'salary_tag':salary_tag})

ValueError: All arrays must be of the same length

# QUESTION 4

In [53]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [55]:
driver=webdriver.Chrome('http://www.flipkart.com/')

In [57]:
driver.get('http://www.flipkart.com/')

In [61]:
product=driver.find_elements(By.XPATH,'//form[@class="_2M8cLY header-form-search"]')
product.send_keys('sunglasses')

AttributeError: 'list' object has no attribute 'send_keys'

In [59]:
search=driver.find_element(By.CLASS_NAME,'_34RNph')
search.click()    #Q.4.2

In [89]:
brand_name=[]
features=[]
price=[]

In [96]:
brand_tags=driver.find_elements(By.XPATH,'//DIV[@class="_2WkVRV"]')
for i in brand_tags[0:10]:
    brand=i.text
    brand_tags.append(brand)
    
features_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]') 
for i in features_tags[0:10]:
    features=i.text
    features_tags.append(features)
    
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags[0:10]:
    price=i.text
    price_tags.append(price)

In [97]:
print(len(brand_name),len(features),len(price))

0 0 0

In [95]:
df3.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
df3=pd.DataFrame({'brand_tags':brand,'features_tags':features,'price_tags':price})
df3

NameError: name 'df3' is not defined